.video-one {
  --accent-color: #8139e7;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url(../images/shapes/video-bg-1-1.png);
  &__inner {
    background-color: var(--accent-color);
    padding: 2.5rem;
    background-size: cover;
    background-blend-mode: luminosity;
    position: relative;
    @media (min-width: 992px) {
      padding-left: 5rem;
    }
    &::before {
      content: "";
      background-color: var(--accent-color);
      opacity: 0.85;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__content {
    position: relative;
    @media (min-width: 992px) {
      padding-top: 3.4375rem;
    }
  }

  &__btn {
    display: inline-flex;
    width: 99px;
    height: 99px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $paroti-base;
    position: relative;
    transition: all 500ms ease;
    &:hover {
      background-color: $paroti-base;
      color: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      top: -15.5px;
      left: -15.5px;
      right: -15.5px;
      bottom: -15.5px;
      border: 1px solid #fff;
      opacity: 0.2;
      border-radius: 50%;
    }

    &__arrow {
      position: absolute;
      top: 90%;
      left: 135%;
      width: 31px;
      height: 45px;
      background-image: url(../images/shapes/video-arrow-1-1.png);
      animation: btnIconMove 4s linear 0ms infinite;
    }
  }

  &__title {
    margin: 0;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.04em;
    margin-top: 48px;
  }

  &__list {
    margin: 0;
    margin-top: 40px;
    li {
      position: relative;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      padding-left: 28px;
      + li {
        margin-top: 3px;
      }
      > i {
        position: absolute;
        top: 8px;
        left: 0;
        font-size: 18px;
        color: $paroti-secondary;
      }
    }
  }

  &__form {
    background-color: #fff;
    padding: 3.75rem;
    @media (min-width: 992px) {
      margin-left: -20px;
    }
    position: relative;
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="date"],
    input[type="number"],
    select {
      height: 60px;
    }
    textarea {
      height: 120px;
    }
    .contact-one__btn {
      padding: 11px 31.5px;
    }
  }
}
