{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#</head>#}
{% extends 'volunteers/volindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/add_reson">
  <table  width="261" border="1" class="table table-striped">


    <tr>
      <th>Reson
      <input type="textarea" name="textfield"/></th>
    </tr>
    <tr>
      <td><div align="center">
        <input type="submit" name="Submit" value="SUBMIT"  class="btn btn-secondary"/>
      </div></td>
    </tr>
  </table>
  <div align="center"></div>
</form>
</body>
{% endblock %}

{#</html>#}
