{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#</head>#}
{% extends 'volunteers/volindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/updateprocode">
  <table  width="261" border="1" class="table table-striped">
       <tr>
      <td class="bg-dark text-white" colspan="10" style="font-size: 20px" align="center"><b>UPDATE STOCK</b></td>
  </tr>
<tr>
      <td align="center"><img src="{{ val.image.url }}" height="150" width="150"></td>
</tr>
      <tr>
           <td align="center">&nbsp;{{ val.productname }}</td>
      </tr>
      <tr><td>Current Stock:{{ val.stock }}</td></tr>
    <tr>
      <td>Stock
      <input type="text" name="textfield"/></td>
    </tr>
    <tr>
      <td><div align="center">
        <input type="submit" name="Submit" value="UPDATED" class="btn btn-primary"/>
      </div></td>
    </tr>
  </table>
  <div align="center"></div>
</form>
</body>
{% endblock %}

{#</html>#}
