{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'department/depindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/editcode1">
  <table class="table table-bordered table-dark">

       <tr>
      <td class="bg-dark text-white" colspan="9" style="font-size: 20px" align="center"><b>ADD NEEDS</b></td>
  </tr>
    <tr>
      <th>Need</th>
      <td><input type="text" name="textfield"   value="{{ val.needs }}" /></td>
    </tr>
    <tr>
      <th>Details</th>
      <td><input type="text" name="textfield2"    value="{{ val.details }}"/></td>
    </tr>
    <tr>
      <th>Amount</th>
      <td><input type="number" name="textfield3"  value="{{ val.amount}}"/></td>
    </tr>

    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="SAVE" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
{#</html>#}
