{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'department/depindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/search_verify_user_request">
  <table width="283" border="1" class="table table-striped">
   <tr>
      <td class="bg-dark text-white" colspan="9" style="font-size: 20px" align="center"><b>VERIFY USER REQUEST</b></td>
  </tr></b></td>
    <tr>
      <td colspan="7">Date:
      <input type="date" name="d" value="{{ d }}"/>

      <input type="text" name="name" placeholder="Username/Inventoryname"/>
      <input type="submit" name="Submit" value="Search" class="btn btn-primary"/></td>
    </tr>
    <tr>

      <th>Date</th>
         <th>User</th>
      <th>Inventory</th>
      <th>Reason</th>
      <th>Status</th>
      <th>Accept</th>
      <th>Reject</th>
    </tr>
                    {% for i in val %}

    <tr>
      <td>&nbsp;{{ i.date }}</td>
          <td>{{ i.userid.fname }}{{ i.userid.lname }}</td>

      <td>&nbsp;{{ i.inventory.inventory }}</td>
      <td>&nbsp;{{ i.reason }}</td>
      <td>{{ i.status }}</td>
        {% if i.status == 'pending' %}

      <td><a href="accept/{{ i.id }}" class="btn btn-primary">Accept</a><p>
      <td><a href="reject/{{ i.id }}" class="btn btn-danger">Reject</a></td>
    {% elif i.status == 'reject' %}
    <td>Reject</td>
    {% else %}
    <td>Accept</td>
    {% endif %}
    <td></td>
    </tr>
                   {% endfor %}

  </table>
</form>
</body>
{% endblock %}

{#</html>#}
