{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Two || Paroti || Non Profit Charity HTML Template</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../static/firstpage/assets/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/firstpage/assets/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/firstpage/assets/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="../static/firstpage/assets/images/favicons/site.webmanifest">
	<!-- google font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap" rel="stylesheet">
	<!-- plugins css -->
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/tiny-slider/dist/tiny-slider.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/animate/animate.min.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/paroti-icons/style.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/youtube-popup/youtube-popup.css">
	<link rel="stylesheet" href="../static/firstpage/assets/vendors/swiper/swiper.min.css">
	<!-- template css -->
	<link rel="stylesheet" href="../static/firstpage/assets/css/paroti.css">
</head>

<body>
	<div class="preloader">
		<div class="preloader__inner">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div><!-- /.preloader__inner -->
	</div><!-- /.preloader -->

	<div class="page-wrapper">
		<header class="main-header main-header--three main-header--two">
			<nav class="main-menu sticky-header main-menu--three">
				<div class="container-fluid">
					<a href="index.html" class="">
                         <img src="../static/firstpage/assets/images/loader.png" width="127" height="49">
{#						<img src="../static/firstpage/assets/images/logo-light.png" width="127" height="49" alt="">#}
					</a>


{#					<ul class="main-menu__list">#}
{#						<li class="menu-item-has-children">#}
{#							<a href="index.html">Home</a>#}
{#							<ul>#}
{#								<li><a href="index.html">Home one</a></li>#}
{#								<li><a href="index-2.html">Home two</a></li>#}
{#								<li><a href="index-3.html">Home three</a></li>#}
{#								<li class="menu-item-has-children"><a href="index.html">Header styles</a>#}
{#									<ul>#}
{#										<li><a href="index.html">Header one</a></li>#}
{#										<li><a href="index-2.html">Header two</a></li>#}
{#										<li><a href="index-3.html">Header three</a></li>#}
{#									</ul>#}
{#								</li>#}
{#							</ul>#}
{#						</li>#}

{#						<li class="menu-item-has-children">#}
{#							<a href="events.html">Events</a>#}
{#							<ul>#}
{#								<li><a href="events.html">Events</a></li>#}
{#								<li><a href="event-details.html">Events details</a></li>#}
{#							</ul>#}
{#						</li>#}
{#						<li class="menu-item-has-children">#}
{#							<a href="blog.html">Blog</a>#}
{#							<ul>#}
{#								<li><a href="blog.html">Blog</a></li>#}
{#								<li><a href="blog-details.html">Blog details</a></li>#}
{#							</ul>#}
{#						</li>#}
{#						<li><a href="contact.html">Contact</a></li>#}
{#					</ul><!-- /.main-menu__list -->#}

					<div class="main-menu__right">
                        					<ul class="main-menu__list">

					<li class="menu-item-has-children">
							<a href="login">Login</a>

						</li>
						<li class="menu-item-has-children">
							<a href="Registration">Register</a>

						</li>
                                            </ul>
					</div><!-- /.main-menu__right -->
				</div><!-- /.container-fluid -->
			</nav><!-- /.main-menu -->
		</header>

		<section class="slider-one slider-three">
			<div class="thm-owl__carousel owl-carousel owl-theme" data-owl-options='{
				"loop": true,
				"autoplay": true,
				"autoplayTimeOut": 7000,
				"items": 1,
				"margin": 0,
				"animateIn": "fadeIn",
				"animateOut": "slideOutDown",
				"nav": true,
				"dots": true,
				"navText": ["<span class=\"paroti-icon-left-arrow\"></span>","<span class=\"paroti-icon-right-arrow\"></span>"]
			}'>
				<div class="item">
					<div class="slider-one__item">
						<div class="slider-one__image"
							style="background-image: url(../static/firstpage/assets/images/backgrounds/slider-3-1.jpg);"></div>
						<!-- /.slider-one__image -->
						<div class="container">
							<p class="slider-one__text">Pain And Paliative Care Centre</p>
							<!-- /.slider-one__text -->
							<h2 class="slider-one__title">Give them <br>
								a helping hand</h2><!-- /.slider-one__title -->
							<div class="slider-one__btns">
								<a href="/#more" class="thm-btn slider-one__btn">
									<span>Discover More</span>
								</a><!-- /.thm-btn slider-one__btn -->
							</div><!-- /.slider-one__btns -->
						</div><!-- /.container -->
					</div><!-- /.slider-one__item -->
				</div><!-- /.item -->
				<div class="item">
					<div class="slider-one__item">
						<div class="slider-one__image"
							style="background-image: url(../static/firstpage/assets/images/backgrounds/slider-3-2.jpg);"></div>
						<!-- /.slider-one__image -->
						<div class="container">
							<p class="slider-one__text">Pain And Paliative Care Centre</p>
							<!-- /.slider-one__text -->
							<h2 class="slider-one__title">Give them <br>
								a helping hand</h2><!-- /.slider-one__title -->
							<div class="slider-one__btns">
								<a href="/#more" class="thm-btn slider-one__btn">
									<span>Discover More</span>
								</a><!-- /.thm-btn slider-one__btn -->
							</div><!-- /.slider-one__btns -->
						</div><!-- /.container -->
					</div><!-- /.slider-one__item -->
				</div><!-- /.item -->
				<div class="item">
					<div class="slider-one__item">
						<div class="slider-one__image"
							style="background-image: url(../static/firstpage/assets/images/backgrounds/slider-3-3.jpg);"></div>
						<!-- /.slider-one__image -->
						<div class="container">
							<p class="slider-one__text">Pain And Paliative Care Centre</p>
							<!-- /.slider-one__text -->
							<h2 class="slider-one__title">Give them <br>
								a helping hand</h2><!-- /.slider-one__title -->
							<div class="slider-one__btns">
								<a href="/#more" class="thm-btn slider-one__btn">
									<span>Discover More</span>
								</a><!-- /.thm-btn slider-one__btn -->
							</div><!-- /.slider-one__btns -->
						</div><!-- /.container -->
					</div><!-- /.slider-one__item -->
				</div><!-- /.item -->
			</div><!-- /.thm-owl__carousel -->
		</section>

		<section class="sec-pad-top sec-pad-bottom about-five" id="more">
			<div class="container">
				<div class="row gutter-y-60">
					<div class="col-md-12 col-lg-6">
						<div class="about-five__content">
							<div class="sec-title text-start">
								<p class="sec-title__tagline">Ready to help us</p><!-- /.sec-title__tagline -->
								<h2 class="sec-title__title">We believe that we can <br>save more lifes</h2>
							</div><!-- /.sec-title -->
							<div class="about-five__text">There are many variations of passages of lorem ipsum
								available, but the majority have suffered alteration in some form, by injected humour,
								or randomised words.</div>
							<blockquote class="about-five__blockquote">
								<i class="paroti-icon-quote"></i>
								No matter what problem you face, you have found an trust worthy agency that can help
								you.
							</blockquote>
							<div class="about-five__person">
{#								<div class="about-five__person__image">#}
{#									<img src="../static/firstpage/assets/images/resources/about-5-p-1.png" alt="">#}
{#								</div><!-- /.about-five__person__image -->#}
{#								<div class="about-five__person__content">#}
{#									<h3 class="about-five__person__title">Mike hardson</h3>#}
{#									<!-- /.about-five__person__title -->#}
{#									<p class="about-five__person__designation">CEO & CO Founder</p>#}
{#									<!-- /.about-five__person__designation -->#}
{#								</div><!-- /.about-five__person__content -->#}
							</div><!-- /.about-five__person -->
							<div class="about-five__content__arrow float-bob-x"></div>
							<!-- /.about-five__content__arrow -->
						</div><!-- /.about-five__content -->
					</div><!-- /.col-md-12 col-lg-6 -->
					<div class="col-md-12 col-lg-6">
						<div class="row gutter-y-30">
							<div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
								data-wow-delay="000ms">
								<div class="about-five__item" style="--accent-color: var(--paroti-base);">
									<div class="about-five__item__icon">
										<i class="paroti-icon-peace"></i>
									</div><!-- /.about-five__item__icon -->
									<h3 class="about-five__item__title"><a href="#">Support</a></h3>
									<!-- /.about-five__item__title -->
									<p class="about-five__item__tagline">They need support</p>
									<!-- /.about-five__item__tagline -->
								</div><!-- /.about-five__item -->
							</div><!-- /.col-sm-12 col-md-6 -->
							<div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
								data-wow-delay="100ms">
								<div class="about-five__item" style="--accent-color: var(--paroti-secondary);">
									<div class="about-five__item__icon">
										<i class="paroti-icon-praying"></i>
									</div><!-- /.about-five__item__icon -->
									<h3 class="about-five__item__title"><a href="#">Prayers</a></h3>
									<!-- /.about-five__item__title -->
									<p class="about-five__item__tagline">Donate or pray</p>
									<!-- /.about-five__item__tagline -->
								</div><!-- /.about-five__item -->
							</div><!-- /.col-sm-12 col-md-6 -->
							<div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
								data-wow-delay="200ms">
								<div class="about-five__item" style="--accent-color: var(--paroti-primary);">
									<div class="about-five__item__icon">
										<i class="paroti-icon-peace-1"></i>
									</div><!-- /.about-five__item__icon -->
									<h3 class="about-five__item__title"><a href="#">Volunteers</a></h3>
									<!-- /.about-five__item__title -->
									<p class="about-five__item__tagline">Join our expert team</p>
									<!-- /.about-five__item__tagline -->
								</div><!-- /.about-five__item -->
							</div><!-- /.col-sm-12 col-md-6 -->
							<div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
								data-wow-delay="300ms">
								<div class="about-five__item" style="--accent-color: #8139e7;">
									<div class="about-five__item__icon">
										<i class="paroti-icon-heart"></i>
									</div><!-- /.about-five__item__icon -->
									<h3 class="about-five__item__title"><a href="#">Donations</a></h3>
									<!-- /.about-five__item__title -->
									<p class="about-five__item__tagline">Start donating now</p>
									<!-- /.about-five__item__tagline -->
								</div><!-- /.about-five__item -->
							</div><!-- /.col-sm-12 col-md-6 -->
						</div><!-- /.row -->
					</div><!-- /.col-md-12 col-lg-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.sec-pad-top -->

		<section class="sec-pad-top sec-pad-bottom donation-home-3">
			<div class="donation-home-3__shape wow slideInDown" data-wow-duration="1500ms"></div>
			<!-- /.donation-home-3__shape -->
			<div class="container">
				<div class="sec-title text-center">
					<p class="sec-title__tagline">Start donating them</p><!-- /.sec-title__tagline -->
					<h2 class="sec-title__title">Find popular causes</h2>
				</div><!-- /.sec-title -->

				<div class="thm-owl__carousel owl-carousel owl-theme donation-home-3__carousel" data-owl-options='{
					"items": 1,
					"margin": 0,
					"loop": false,
					"nav": false,
					"dots": false,
					"autoplay": false,
					"responsive": {
						"0": {
							"items": 1
						},
						"576": {
							"items": 2,
							"margin": 30
						},
						"992": {
							"items": 3,
							"margin": 30
						}
					}
				}'>
					<div class="item">
						<div class="donations-card">
							<div class="donations-card__image">
								<img src="../static/firstpage/assets/images/donations/1.jpg" alt="">
								<div class="donations-card__category">
									<a href="#">Medical</a>
								</div><!-- /.donations-card__category -->
							</div><!-- /.donations-card__image -->
							<div class="donations-card__content">
								<h3 class="donations-card__title"><a href="#!">Your little help
										can
										heal
										their pains</a></h3><!-- /.donations-card__title -->
								<p class="donations-card__text">Aellentesque porttitor lacus quis enim varius sed
									efficitur...</p>


							</div><!-- /.donations-card__content -->
						</div><!-- /.donations-card -->
					</div><!-- /.item -->
					<div class="item">
						<div class="donations-card" style="--accent-color: #8139e7;">
							<div class="donations-card__image">
								<img src="../static/firstpage/assets/images/donations/2.jpg" alt="">
								<div class="donations-card__category">
									<a href="#">education</a>
								</div><!-- /.donations-card__category -->
							</div><!-- /.donations-card__image -->
							<div class="donations-card__content">
								<h3 class="donations-card__title"><a href="#!">Give african
										childrens
										a
										good education</a></h3><!-- /.donations-card__title -->
								<p class="donations-card__text">Aellentesque porttitor lacus quis enim varius sed
									efficitur...</p>


							</div><!-- /.donations-card__content -->
						</div><!-- /.donations-card -->
					</div><!-- /.item -->
					<div class="item">
						<div class="donations-card" style="--accent-color: #fdbe44;">
							<div class="donations-card__image">
								<img src="../static/firstpage/assets/images/donations/donations-1-3.jpg" alt="">
								<div class="donations-card__category">
									<a href="#">Food</a>
								</div><!-- /.donations-card__category -->
							</div><!-- /.donations-card__image -->
							<div class="donations-card__content">
								<h3 class="donations-card__title"><a href="#!">Raise funds for
										clean
										&
										healthy food</a></h3><!-- /.donations-card__title -->
								<p class="donations-card__text">Aellentesque porttitor lacus quis enim varius sed
									efficitur...</p>


							</div><!-- /.donations-card__content -->
						</div><!-- /.donations-card -->
					</div><!-- /.item -->
				</div><!-- /.thm-owl__carousel -->
			</div><!-- /.container -->
		</section><!-- /.sec-pad-top sec-pad-bottom -->

		<section class="faq-one">
			<div class="faq-one__bg" style="background-color: #23b4cc"></div>
			<!-- /.faq-one__bg -->
			<div class="container">
				<div class="row gutter-y-60">
					<div class="col-lg-6">
						<div class="faq-one__content">
							<div class="sec-title text-start">
								<p class="sec-title__tagline">Question & answers</p><!-- /.sec-title__tagline -->
								<h2 class="sec-title__title">Donors frequently asked <br>questions?</h2>
							</div><!-- /.sec-title -->
							<div class="faq-one__content__text">There are many variations of passages of lorem ipsum
								available, but the majority have suffered alteration in some form.</div>
							<!-- /.faq-one__content__text -->
							<div class="accordion faq-one__accordion" id="faq-one__accordion-1">
{#								<div class="accordion-item faq-one__accordion__item">#}
{#									<h2 class="accordion-header faq-one__accordion__header"#}
{#										id="faq-one__accordion-1__heading-1">#}
{#										<button class="accordion-button faq-one__accordion__button" type="button"#}
{#											data-bs-toggle="collapse" data-bs-target="#faq-one__accordion-1__collapse-1"#}
{#											aria-expanded="true" aria-controls="faq-one__accordion-1__collapse-1">#}
{#											How to donate via andriod phone?#}
{#											<span class="faq-one__accordion__icon"></span>#}
{#											<!-- /.faq-one__accordion__icon -->#}
{#										</button>#}
{#									</h2>#}
{#									<div id="faq-one__accordion-1__collapse-1"#}
{#										class="accordion-collapse collapse show faq-one__accordion__collapse"#}
{#										aria-labelledby="faq-one__accordion-1__heading-1"#}
{#										data-bs-parent="#faq-one__accordion-1">#}
{#										<div class="accordion-body faq-one__accordion__body">There are many variations#}
{#											of passages of available,#}
{#											but the majority have suffered alteration in some form.</div>#}
{#									</div>#}
{#								</div>#}
								<div class="accordion-item faq-one__accordion__item">
									<h2 class="accordion-header faq-one__accordion__header"
										id="faq-one__accordion-1__heading-2">
										<button class="accordion-button faq-one__accordion__button collapsed"
											type="button" data-bs-toggle="collapse"
											data-bs-target="#faq-one__accordion-1__collapse-2" aria-expanded="false"
											aria-controls="faq-one__accordion-1__collapse-2">
											How to send a private message to donor?
											<span class="faq-one__accordion__icon"></span>
										</button>
									</h2>
									<div id="faq-one__accordion-1__collapse-2"
										class="accordion-collapse faq-one__accordion__collapse collapse"
										aria-labelledby="faq-one__accordion-1__heading-2"
										data-bs-parent="#faq-one__accordion-1">
										<div class="accordion-body faq-one__accordion__body">There are many variations
											of passages of available,
											but the majority have suffered alteration in some form.</div>
									</div>
								</div>
							</div>
						</div><!-- /.faq-one__content -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="faq-one__image">
							<img src="../static/firstpage/assets/images/resources/hello.png" alt="">
						</div><!-- /.faq-one__image -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>

		<section class="event-home-two sec-pad-top sec-pad-bottom">
			<div class="container">
				<div class="row gutter-y-60">
					<div class="col-xl-3">
						<div class="event-home-two__content">
							<div class="sec-title text-start">
								<p class="sec-title__tagline">Upcoming events</p><!-- /.sec-title__tagline -->
								<h2 class="sec-title__title">Check latest <br>upcoming<br>events</h2>
							</div><!-- /.sec-title -->
							<div class="event-home-two__content__text">There are many variations of passages of lorem
								ipsum available but the majority have suffered.</div>
							<!-- /.event-home-two__content__text -->
							<div class="event-home-two__btns">
								<a href="#more" class="thm-btn event-home-two__btn">
									<span>Register your seat</span>
								</a><!-- /.thm-btn event-home-two__btn -->
							</div><!-- /.event-home-two__btns -->
						</div><!-- /.event-home-two__content -->
					</div><!-- /.col-xl-3 -->
					<div class="col-xl-9">
						<div class="event-home-two__carousel">
							<div class="thm-owl__carousel owl-carousel" data-owl-options='{
							"items": 1,
							"loop": true,
							"autoplay": true,
							"autoplayTimeOut": 5000,
							"autoplayHoverPause": true,
							"responsive": {
								"0": {
									"items": 1
								},
								"576": {
									"items": 2,
									"margin": 30
								}
							}
						}'>
								<div class="item">
									<div class="events-card">
										<div class="events-card__image">
											<img src="../static/firstpage/assets/images/events/222.jpg" alt="">
											<img src="../static/firstpage/assets/images/events/222.jpg"
												class="events-card__image--hover" alt="">
										</div><!-- /.events-card__image -->
										<div class="events-card__content">
											<div class="events-card__date">20 Aug</div><!-- /.events-card__date -->
											<ul class="events-card__meta list-unstyled">
												<li>
													<i class="fa fa-clock"></i>
													<a href="#">8:00 pm</a>
												</li>
												<li>
													<i class="fa fa-map-marker-alt"></i>
													<a href="#">New York</a>
												</li>
											</ul><!-- /.blog-card__meta -->
											<h3 class="events-card__title"><a href="event-details.html">Play for their
													world
													with us</a></h3><!-- /.events-card__title -->
										</div><!-- /.events-card__content -->
									</div><!-- /.events-card -->
								</div><!-- /.item -->
								<div class="item">
									<div class="events-card">
										<div class="events-card__image">
											<img src="../static/firstpage/assets/images/events/333.jpg" alt="">
											<img src="../static/firstpage/assets/images/events/333.jpg"
												class="events-card__image--hover" alt="">
										</div><!-- /.events-card__image -->
										<div class="events-card__content">
											<div class="events-card__date">20 Aug</div><!-- /.events-card__date -->
											<ul class="events-card__meta list-unstyled">
												<li>
													<i class="fa fa-clock"></i>
													<a href="#">8:00 pm</a>
												</li>
												<li>
													<i class="fa fa-map-marker-alt"></i>
													<a href="#">New York</a>
												</li>
											</ul><!-- /.blog-card__meta -->
											<h3 class="events-card__title"><a href="event-details.html">Play for their
													world
													with us</a></h3><!-- /.events-card__title -->
										</div><!-- /.events-card__content -->
									</div><!-- /.events-card -->
								</div><!-- /.item -->
							</div><!-- /.thm-owl__carousel owl-carousel -->
						</div><!-- /.event-home-two__carousel -->

					</div><!-- /.col-xl-9 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.event-home-two -->

		<section class="about-six about-six--pad-top about-six--pad-bottom">
			<div class="about-six__bg" style="background-image: url(../static/firstpage/assets/images/backgrounds/about-six-bg-1-1.png);">
			</div><!-- /.about-six__bg -->
			<div class="about-six__shape float-bob-x"
				style="background-image: url(../static/firstpage/assets/images/shapes/about-six-s-1.png)"></div>
			<!-- /.about-six__shape -->
			<div class="container">
				<div class="row gutter-y-60">
					<div class="col-lg-6">
						<div class="about-six__images">
							<img src="../static/firstpage/assets/images/events/444.jpg" width="100%" alt="">
						</div><!-- /.about-six__images -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="about-six__content">
							<div class="sec-title text-start">
								<p class="sec-title__tagline">Ready to help us</p><!-- /.sec-title__tagline -->
								<h2 class="sec-title__title">Helping people those<br>who in need</h2>
							</div><!-- /.sec-title -->
							<div class="about-six__content__text">Denounce with righteous indignation and dislike men
								who are beguiled and demoralized by the charms of pleasure of the moment so blinded by
								desire, that they cannot foresee the pain and trouble.</div>
							<!-- /.about-six__content__text -->
							<ul class="list-unstyled about-six__list">
								<li class="about-six__list__item">
									<i class="about-six__list__icon fa fa-check-circle"></i>
									<h3 class="about-six__list__title">Join our team</h3>
									<!-- /.about-six__list__title -->
									<p class="about-six__list__text">Indignation and dislike men who
										are so beguiled all moralized.</p><!-- /.about-six__list__text -->
								</li>
								<li class="about-six__list__item">
									<i class="about-six__list__icon fa fa-check-circle"></i>
									<h3 class="about-six__list__title">Quick fundraising</h3>
									<!-- /.about-six__list__title -->
									<p class="about-six__list__text">Indignation and dislike men who
										are so beguiled all moralized.</p><!-- /.about-six__list__text -->
								</li>
							</ul><!-- /.list-unstyled about-six__list -->
							<div class="about-six__btns">
								<a href="#more" class="thm-btn about-six__btn">
									<span>Discover More</span>
								</a><!-- /.thm-btn about-six__btn -->
							</div><!-- /.about-six__btns -->
						</div><!-- /.about-six__content -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.about-six -->

		<section class="funfact-one funfact-one--m-margin-top">
			<div class="container">
				<div class="funfact-one__inner wow fadeInUp">
{#					<div class="funfact-one__item">#}
{#						<h3 class="count-box funfact-one__title"><span data-stop="4850" data-speed="1500"#}
{#								class="count-text"></span><!-- /.count-text -->#}
{#						</h3><!-- /.count-box -->#}
{#						<p class="funfact-one__text">Total Campaigns</p><!-- /.funfact-one__text -->#}
{#					</div><!-- /.funfact-one__item -->#}
{#					<div class="funfact-one__item">#}
{#						<h3 class="count-box funfact-one__title"><span data-stop="3456" data-speed="1500"#}
{#								class="count-text"></span><!-- /.count-text -->#}
{#						</h3><!-- /.count-box -->#}
{#						<p class="funfact-one__text">Raised Funds</p><!-- /.funfact-one__text -->#}
{#					</div><!-- /.funfact-one__item -->#}
{#					<div class="funfact-one__item">#}
{#						<h3 class="count-box funfact-one__title"><span data-stop="480" data-speed="1500"#}
{#								class="count-text"></span><!-- /.count-text -->#}
{#						</h3><!-- /.count-box -->#}
{#						<p class="funfact-one__text">Satisfied Donors</p><!-- /.funfact-one__text -->#}
{#					</div><!-- /.funfact-one__item -->#}
{#					<div class="funfact-one__item">#}
{#						<h3 class="count-box funfact-one__title"><span data-stop="2068" data-speed="1500"#}
{#								class="count-text"></span><!-- /.count-text -->#}
{#						</h3><!-- /.count-box -->#}
{#						<p class="funfact-one__text">Happy Volunteers</p><!-- /.funfact-one__text -->#}
{#					</div><!-- /.funfact-one__item -->#}
{#				</div><!-- /.funfact-one__inner -->#}
{#			</div><!-- /.container -->#}
		</section>

		<section class="sec-pad-top sec-pad-bottom">
			<div class="container">
				<div class="sec-title text-center">
					<p class="sec-title__tagline">Ready to help you</p><!-- /.sec-title__tagline -->
					<h2 class="sec-title__title">Happy volunteers</h2>
				</div><!-- /.sec-title -->
				<div class="row gutter-y-30">
					<div class="col-md-6 col-lg-4">
						<div class="volunteers-card">
							<h3 class="volunteers-card__title"><a href="#">Abdul Khadar v p</a></h3>
							<p class="volunteers-card__designation">Secretary</p>
							<div class="volunteers-card__image">
								<img src="../static/firstpage/assets/images/events/u1.jpg" alt="">
							</div><!-- /.volunteers-card__image -->

						</div><!-- /.volunteers-card -->
					</div><!-- /.col-md-6 col-lg-4 -->
					<div class="col-md-6 col-lg-4">
						<div class="volunteers-card">
							<h3 class="volunteers-card__title"><a href="#">P P Abubacker haji</a></h3>
							<p class="volunteers-card__designation">Chairman</p>
							<div class="volunteers-card__image">
								<img src="../static/firstpage/assets/images/events/u2.jpg" alt="">
							</div><!-- /.volunteers-card__image -->

						</div><!-- /.volunteers-card -->
					</div><!-- /.col-md-6 col-lg-4 -->
					<div class="col-md-6 col-lg-4">
						<div class="volunteers-card">
							<h3 class="volunteers-card__title"><a href="#">Adv. Abdul Rasaq K</a></h3>
							<p class="volunteers-card__designation">Treasurer</p>
							<div class="volunteers-card__image">
								<img src="../static/firstpage/assets/images/events/u3.jpg" alt="">
							</div><!-- /.volunteers-card__image -->

						</div><!-- /.volunteers-card -->
					</div><!-- /.col-md-6 col-lg-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.sec-pad-top sec-pad-bottom -->

		<section class="cta-four">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4">
						<div class="cta-four__item">
							<div class="cta-four__item__bg"
								style=""></div>
							<!-- /.cta-four__item__bg -->
							<div class="cta-four__item__icon">
								<i class="paroti-icon-heart"></i>
							</div><!-- /.cta-four__item__icon -->
							<h3 class="cta-four__item__title"><a href="contact.html">More charity makes better life</a>
							</h3><!-- /.cta-four__item__title -->
						</div><!-- /.cta-four__item -->
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<div class="cta-four__item" style="--accent-color: #8139e7;">
							<div class="cta-four__item__bg"
								></div>
							<!-- /.cta-four__item__bg -->
							<div class="cta-four__item__icon">
								<i class="paroti-icon-help-1"></i>
							</div><!-- /.cta-four__item__icon -->
							<h3 class="cta-four__item__title"><a href="contact.html">How to become a volunteer</a> </h3>
							<!-- /.cta-four__item__title -->
						</div><!-- /.cta-four__item -->
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<div class="cta-four__item" style="--accent-color: #138999;">
							<div class="cta-four__item__bg"
								style=""></div>
							<!-- /.cta-four__item__bg -->
							<div class="cta-four__item__icon">
								<i class="paroti-icon-food-basket"></i>
							</div><!-- /.cta-four__item__icon -->
							<h3 class="cta-four__item__title"><a href="contact.html">Give children food & education</a>
							</h3><!-- /.cta-four__item__title -->
						</div><!-- /.cta-four__item -->
					</div><!-- /.col-lg-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>

{#		<section class="testimonials-two">#}
{#			<div class="testimonials-two__bg"#}
{#				style=""></div>#}
{#			<!-- /.testimonials-two__bg -->#}
{#			<div class="container">#}
{#				<div class="swiper-container testimonials-two__thumb" id="testimonials-two__thumb">#}
{#					<div class="swiper-wrapper">#}
{#						<div class="swiper-slide">#}
{#							<img src="../static/firstpage/assets/images/resources/testi-2-2-1.png" alt="">#}
{#						</div><!-- /.swiper-slide -->#}
{#						<div class="swiper-slide">#}
{#							<img src="../static/firstpage/assets/images/resources/testi-2-2-2.png" alt="">#}
{#						</div><!-- /.swiper-slide -->#}
{#						<div class="swiper-slide">#}
{#							<img src="../static/firstpage/assets/images/resources/testi-2-2-3.png" alt="">#}
{#						</div><!-- /.swiper-slide -->#}
{#					</div><!-- /.swiper-wrapper -->#}
{#				</div><!-- /.swiper-container -->#}
{#				<div class="swiper-container testimonials-two__carousel" id="testimonials-two__carousel">#}
{#					<div id="testimonials-two__carousel-pagination"></div>#}
{#				</div><!-- /.swiper-container -->#}
{#			</div><!-- /.container -->#}
{#		</section>#}

{#		<section class="sec-pad-top sec-pad-bottom sponsor-carousel sponsor-carousel--home-2">#}
{#			<div class="container">#}
{#				<div class="thm-tns__carousel" id="sponsor-carousel-1" data-tns-options='{#}
{#					"container": "#sponsor-carousel-1",#}
{#					"loop": true,#}
{#					"autoplay": true,#}
{#					"items": 2,#}
{#					"gutter": 30,#}
{#					"mouseDrag": true,#}
{#					"touch": true,#}
{#					"nav": false,#}
{#					"autoplayButtonOutput": false,#}
{#					"controls": false,#}
{#					"responsive": {#}
{#						"0": {#}
{#							"items": 2,#}
{#							"gutter": 30#}
{#						},#}
{#						"576": {#}
{#							"items": 3,#}
{#							"gutter": 30#}
{#						},#}
{#						"768": {#}
{#							"items": 4,#}
{#							"gutter": 30#}
{#						},#}
{#						"992": {#}
{#							"items": 5,#}
{#							"gutter": 50#}
{#						},#}
{#						"1200": {#}
{#							"items": 5,#}
{#							"gutter": 140#}
{#						}#}
{#					}#}
{#				}'>#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#					<div class="item">#}
{#						<img src="../static/firstpage/assets/images/resources/brand-1.png" alt="">#}
{#					</div><!-- /.item -->#}
{#				</div><!-- /.thm-tns__carousel -->#}
{#			</div><!-- /.container -->#}
{#		</section><!-- /.sec-pad-top sec-pad-bottom -->#}

{#		<section class="sec-pad-top sec-pad-bottom blog-home-two">#}
{#			<img src="../static/firstpage/assets/images/shapes/blog-h2-s-1.png" class="blog-home-two__shape wow fadeInRight"#}
{#				data-wow-duration="1500ms" alt="">#}
{#			<div class="container">#}
{#				<div class="sec-title text-center">#}
{#					<p class="sec-title__tagline">Watch our latest blogs#}
{#					</p><!-- /.sec-title__tagline -->#}
{#					<h2 class="sec-title__title">Latest news & articles</h2>#}
{#				</div><!-- /.sec-title -->#}
{#				<div class="row gutter-y-30">#}
{#					<div class="col-md-12 col-lg-6">#}
{#						<div class="blog-card-two">#}
{#							<div class="blog-card__date">#}
{#								<span>28</span>Oct#}
{#							</div><!-- /.blog-card__date -->#}
{##}
{#							<div class="blog-card-two__content">#}
{#								<div class="blog-card-two__content__top">#}
{#									<div class="blog-card-two__author">#}
{#										<img src="../static/firstpage/assets/images/blog/blog-a-2-1.png" alt="">#}
{#									</div><!-- /.blog-card-two__author -->#}
{#									<ul class="blog-card__meta list-unstyled">#}
{#										<li>#}
{#											<i class="fa fa-user"></i>#}
{#											<a href="#">Post by Admin</a>#}
{#										</li>#}
{#										<li>#}
{#											<i class="fa fa-comments"></i>#}
{#											<a href="#">02 comments</a>#}
{#										</li>#}
{#									</ul><!-- /.blog-card__meta -->#}
{#								</div><!-- /.blog-card-two__content__top -->#}
{##}
{#								<h3 class="blog-card__title"><a href="blog-details.html">Online legal advice for#}
{#										asylum seekers in Greece</a></h3><!-- /.blog-card__title -->#}
{#								<p class="blog-card-two__text">I wanted to take a minute to thank you and your team. I#}
{#									have grown ....</p><!-- /.blog-card-two__text -->#}
{#								<a href="blog-details.html" class="blog-card__links">#}
{#									<i class="fa fa-angle-double-right"></i>#}
{#									Read More</a><!-- /.blog-card__links -->#}
{#							</div><!-- /.blog-card-two__content -->#}
{#							<div class="blog-card-two__image">#}
{#								<img src="../static/firstpage/assets/images/blog/blog-2-1.jpg" alt="">#}
{#							</div><!-- /.blog-card-two__image -->#}
{#						</div><!-- /.blog-card-two -->#}
{#					</div><!-- /.col-md-12 col-lg-6 -->#}
{#					<div class="col-md-12 col-lg-6">#}
{#						<div class="blog-card-two">#}
{#							<div class="blog-card__date">#}
{#								<span>28</span>Oct#}
{#							</div><!-- /.blog-card__date -->#}
{##}
{#							<div class="blog-card-two__content">#}
{#								<div class="blog-card-two__content__top">#}
{#									<div class="blog-card-two__author">#}
{#										<img src="../static/firstpage/assets/images/blog/blog-a-2-2.png" alt="">#}
{#									</div><!-- /.blog-card-two__author -->#}
{#									<ul class="blog-card__meta list-unstyled">#}
{#										<li>#}
{#											<i class="fa fa-user"></i>#}
{#											<a href="#">Post by Admin</a>#}
{#										</li>#}
{#										<li>#}
{#											<i class="fa fa-comments"></i>#}
{#											<a href="#">02 comments</a>#}
{#										</li>#}
{#									</ul><!-- /.blog-card__meta -->#}
{#								</div><!-- /.blog-card-two__content__top -->#}
{##}
{#								<h3 class="blog-card__title"><a href="blog-details.html">Online legal advice for#}
{#										asylum seekers in Greece</a></h3><!-- /.blog-card__title -->#}
{#								<p class="blog-card-two__text">I wanted to take a minute to thank you and your team. I#}
{#									have grown ....</p><!-- /.blog-card-two__text -->#}
{#								<a href="blog-details.html" class="blog-card__links">#}
{#									<i class="fa fa-angle-double-right"></i>#}
{#									Read More</a><!-- /.blog-card__links -->#}
{#							</div><!-- /.blog-card-two__content -->#}
{#							<div class="blog-card-two__image">#}
{#								<img src="../static/firstpage/assets/images/blog/blog-2-2.jpg" alt="">#}
{#							</div><!-- /.blog-card-two__image -->#}
{#						</div><!-- /.blog-card-two -->#}
{#					</div><!-- /.col-md-12 col-lg-6 -->#}
{#				</div><!-- /.row -->#}
{#			</div><!-- /.container -->#}
{#		</section>#}

{#		<section class="cta-three">#}
{#			<div class="container">#}
{#				<div class="cta-three__inner wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">#}
{#					<div class="cta-three__inner__bg"#}
{#						style="background-image: url(../static/firstpage/assets/images/shapes/cta-3-bg-1-1.png);"></div>#}
{#					<!-- /.cta-three__inner__bg -->#}
{#					<div class="cta-three__icon">#}
{#						<i class="paroti-icon-support"></i>#}
{#					</div><!-- /.cta-three__icon -->#}
{#					<h3 class="cta-three__title">Let’s make a difference in#}
{#						the lives of others</h3><!-- /.cta-three__title -->#}
{#					<div class="cta-three__btns">#}
{#						<a href="donations-details.html" class="thm-btn cta-three__btn">#}
{#							<span>Start donating</span>#}
{#						</a><!-- /.thm-btn cta-three__btn -->#}
{#					</div><!-- /.cta-three__btns -->#}
{#				</div><!-- /.cta-three__inner -->#}
{#			</div><!-- /.container -->#}
{#		</section><!-- /.cta-three -->#}

		<footer class="site-footer" style="background-color: #144047">
			<div class="site-footer__top">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-duration="1500ms"
							data-wow-delay="000ms">
							<div class="site-footer__widget site-footer__widget__about">
								<a href="index.html" class="site-footer__widget__logo">
									<img src="../static/firstpage/assets/images/loader.png" width="127" height="49" alt="">
								</a>
								<p class="site-footer__widget__text">Athani Pain And Palliative care narikkuni</p><!-- /.site-footer__widget__text -->
							</div><!-- /.site-footer__widget -->
						</div><!-- /.col-sm-12 col-md-6 col-lg-6 col-xl-3 wow fadeInUp -->
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 wow fadeInUp" data-wow-duration="1500ms"
							data-wow-delay="100ms">
							<div class="site-footer__widget">
								<h3 class="site-footer__widget__title">Links</h3><!-- /.site-footer__widget__title -->
								<ul class="list-unstyled site-footer__widget__links">
									<li><a href="/">Home</a></li>
									<li><a href="login">Login</a></li>
									<li><a href="Registration">Register</a></li>

								</ul><!-- /.list-unstyled site-footer__widget__links -->
							</div><!-- /.site-footer__widget -->
						</div><!-- /.col-sm-12 col-md-6 col-lg-6 col-xl-2 wow fadeInUp -->
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 wow fadeInUp" data-wow-duration="1500ms"
							data-wow-delay="200ms">
							<div class="site-footer__widget">
								<h3 class="site-footer__widget__title">Service</h3>
								<!-- /.site-footer__widget__title -->
								<ul class="list-unstyled site-footer__widget__links">
									<li><a href="#!">Palliative Care Unit</a></li>
									<li><a href="#!">Dialysis Unit</a></li>
									<li><a href="#!">Harmony Village</a></li>
									<li><a href="#!">Other Service</a></li>
{#									<li><a href="#!">Start a fundraising</a></li>#}
								</ul><!-- /.list-unstyled site-footer__widget__links -->
							</div><!-- /.site-footer__widget -->
						</div><!-- /.col-sm-12 col-md-6 col-lg-6 col-xl-2 wow fadeInUp -->
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-duration="1500ms"
							data-wow-delay="300ms">
							<div class="site-footer__widget">
								<h3 class="site-footer__widget__title">Contact</h3>
								<!-- /.site-footer__widget__title -->
								<ul class="list-unstyled site-footer__widget__contact">
									<li>
										<i class="fa fa-envelope-open"></i>
										<a href="mailto:needhelp@company.com">athaninarikkuni@gmail.com</a>
									</li>
									<li>
										<i class="fa fa-mobile"></i>
										<a href="tel:+1(307)776-0608">+ 91 495 224 7412</a><br>
										<a href="tel:+1(307)776-0608">+91 96053 33664</a>
									</li>
								</ul><!-- /.list-unstyled site-footer__widget__contact -->
							</div><!-- /.site-footer__widget -->
						</div><!-- /.col-sm-12 col-md-6 col-lg-6 col-xl-3 wow fadeInUp -->
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 wow fadeInUp" data-wow-duration="1500ms"
							data-wow-delay="400ms">
							<div class="site-footer__widget site-footer__widget__cta">
								<h3 class="site-footer__widget__title"><span>Raise Money and help them</span></h3>
								<!-- /.site-footer__widget__title -->
								<a href="#more" class="thm-btn thm-btn--two thm-btn--light">
									<span>----</span>
									<i class="fa fa-heart"></i>
								</a><!-- /.thm-btn--two -->
							</div><!-- /.site-footer__widget -->
						</div><!-- /.col-sm-12 col-md-6 col-lg-6 col-xl-3 wow fadeInUp -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.site-footer__top -->
			<div class="site-footer__bottom">
				<div class="container">
{#					<div class="site-footer__bottom__inner">#}
{#						<p class="site-footer__bottom__text">© Copyright <span class="dynamic-year"></span> by#}
{#							Layerdrops.com</p><!-- /.site-footer__bottom__text -->#}
{#						<div class="site-footer__social">#}
{#							<a href="#"><i class="fab fa-twitter"></i></a>#}
{#							<a href="#"><i class="fab fa-facebook"></i></a>#}
{#							<a href="#"><i class="fab fa-pinterest"></i></a>#}
{#							<a href="#"><i class="fab fa-instagram"></i></a>#}
{#						</div><!-- /.site-footer__social -->#}
{##}
{#					</div><!-- /.site-footer__bottom__inner -->#}
				</div><!-- /.container -->
			</div><!-- /.site-footer__bottom -->
		</footer>
	</div><!-- /.page-wrapper -->

	<div class="mobile-nav__wrapper">
		<div class="mobile-nav__overlay mobile-nav__toggler"></div><!-- /.mobile-nav__overlay -->
		<div class="mobile-nav__content">
			<a href="#" class="mobile-nav__close mobile-nav__toggler">
				<span></span>
				<span></span>
			</a>

			<div class="logo-box">
				<a href="index.html" aria-label="logo image"><img src="../static/firstpage/assets/images/logo-light.png" width="127"
						height="49" alt="Paroti"></a>
			</div>
			<!-- /.logo-box -->
			<div class="mobile-nav__container"></div>
			<!-- /.mobile-nav__container -->

			<ul class="mobile-nav__contact list-unstyled">
				<li>
					<i class="fa fa-phone"></i>
					<a href="tel:+8898006802">+ 88 ( 9800 ) 6802</a>
				</li>
				<li>
					<i class="fa fa-envelope"></i>
					<a href="mailto:needhelp@company.com">needhelp@company.com</a>
				</li>
				<li>
					<i class="fa fa-map-marker-alt"></i>
					88 Broklyn Golden Road Street <br> New York. USA
				</li>
			</ul><!-- /.mobile-nav__contact -->
			<ul class="mobile-nav__social">
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			</ul><!-- /.mobile-nav__social -->



		</div><!-- /.mobile-nav__content -->
	</div><!-- /.mobile-nav__wrapper -->

	<div class="search-popup">
		<div class="search-popup__overlay search-toggler"></div><!-- /.search-popup__overlay -->
		<div class="search-popup__content">
			<form action="#">
				<label for="search" class="sr-only">search here</label><!-- /.sr-only -->
				<input type="text" id="search" placeholder="Search Here..." />
				<button type="submit" aria-label="search submit" class="thm-btn">
					<span><i class="paroti-icon-magnifying-glass"></i></span>
				</button>
			</form>
		</div><!-- /.search-popup__content -->
	</div><!-- /.search-popup -->

	<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- plugins js -->
	<script src="../static/firstpage/assets/vendors/jquery/jquery-3.6.1.min.js"></script>
	<script src="../static/firstpage/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../static/firstpage/assets/vendors/tiny-slider/dist/min/tiny-slider.js"></script>
	<script src="../static/firstpage/assets/vendors/jquery-validation/jquery.validate.min.js"></script>
	<script src="../static/firstpage/assets/vendors/wow/wow.js"></script>
	<script src="../static/firstpage/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
	<script src="../static/firstpage/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
	<script src="../static/firstpage/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="../static/firstpage/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="../static/firstpage/assets/vendors/youtube-popup/youtube-popup.jquery.js"></script>
	<script src="../static/firstpage/assets/vendors/swiper/swiper.min.js"></script>
	<!-- template js -->
	<script src="../static/firstpage/assets/js/paroti.js"></script>
</body>

</html>