{% load static %}
<html lang="en">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    #background-video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        width:50%;
        z-index: -100;
        background-size: cover;
        background-position: center;
    }
</style>
</head>
<body>

<video autoplay muted loop id="background-video">
    <source src="{% static 'login/images/Ipad.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h3 class="heading-section">Charity Scheme and Fund Tracking</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Login Here!</h3>
                    <form action="/logincode" method="post" class="signin-form">
                        <div class="form-group">
                            <input type="text" name="textfield" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input id="password-field" name="textfield2" type="password" class="form-control" placeholder="Password" required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                        <center>
                            <div class="w-50 text-center">
                                <a href="/Registration" style="color: #fff">Register Here!</a>
                            </div>
                            </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>



</body>
</html>
