{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'user/userindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/getAmount" onsubmit="return validateAmount()">
  <table class="table table-bordered table-dark">
    <tr>
      <td>
        Amount Needed
      </td>
      <td>{{ val.amount }}0</td>
    </tr>
    <tr>
      <th>Amount<input type="hidden" value="{{ val.department.id }}" name="did"></th>
      <td><input type="number" name="textfield3" id="donationAmount" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="SAVE" />
      </div></td>
    </tr>
  </table>
</form>

<script>
  function validateAmount() {
    var donationAmount = parseInt(document.getElementById('donationAmount').value);
    var requiredAmount = parseInt('{{ val.amount }}');

    if (donationAmount > requiredAmount) {
      alert('You entered an amount greater than the required amount (' + requiredAmount + '). Please enter a valid donation amount.');
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
</script>

</body>
{% endblock %}
{#</html>#}
