{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'user/userindex.html' %}
{% block body %}
<body>
<form action="/ordrprdctcode" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="261" border="1" class="table table-striped">
       <tr>
      <td class="bg-dark text-white" colspan="10" style="font-size: 20px" align="center"><b>VIEW MORE</b></td>
  </tr>
    <tr>
      <td rowspan="4"><img src="{{ val.image.url }}" width="100" height="100"></td>
      <th>Name</th>
      <td><input type="text" name="textfield"  value="{{ val.productname }}"disabled/></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><input type="text" name="textfield2" value="{{  val.price}}0" disabled/></td>
    </tr>
    <tr>
      <th>Stock</th>
      <td><input type="text" name="textfield3" value="{{ val.stock }}" disabled/></td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td><input type="text" name="textfield4" required/></td>
    </tr>
    <tr>
        <td colspan="3" align="center"><input type="submit" name="Submit" value="ADD TO CART" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit" value="ORDER NOW" class="btn btn-success"></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
{% endblock %}

{#</html>#}
