{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'user/userindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="261" border="1" class="table table-striped">
   <tr>
      <td class="bg-dark text-white" colspan="10" style="font-size: 20px" align="center"><b>VIEW PRODUCT AND PURCHASE</b></td>
  </tr>
    <tr>
          <th>Slno</th>
          <th>Image</th>
      <th>Product</th>
        <th>Description</th>

        <th>Stock</th>
      <th>Price</th>
      <td>&nbsp;</td>
              <th>Action</th>

    </tr>
                         {% for i in val %}

    <tr>
          <td>&nbsp;{{ forloop.counter }}</td>

        <td><img src="media/{{ i.image }}" width="70px" height="70px"></td>

      <td>{{ i.productname }}</td>
      <td>{{ i.Description }}&nbsp;</td>

      <td>{{ i.stock }}</td>
      <td>{{ i.price }}0</td>
      <td>&nbsp;</td>
      <td><a href="/view_more_product/{{ i.id }}" class="btn btn-primary"><i class="bi bi-eye"></i></a></td>
    </tr>
                  {% endfor %}

  </table>
</form>
</body>
{% endblock %}

{#</html>#}
