{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{% extends 'admin1/index.html' %}
{% block body %}

<style>
#aa{
    width:150px;
}
</style>
<body>
<form id="form1" name="form1" method="post" action="/verify_needsearch">
  <table width="" border="1" class="table table-striped">
       <tr>
      <td class="bg-dark text-white" colspan="9" style="font-size: 20px" align="center"><b>VERIFIED NEEDS</b></td>
  </tr>
    <tr>
      <th colspan="8">Department
     <select name="select"  class="btn btn-light dropdown-toggle" >
     <option value="0">All</option>
             {% for i in vall %}
            <option value="{{ i.id }}" {% if i.id == de %} selected {% endif %}>{{ i.d_name}}</option>
            {% endfor %}
        </select>
      <input type="date" name="date" value="{{ d }}">


      <input type="submit" name="Submit" value="Search"  class="btn btn-primary" /></td>
    </tr>
    <tr>
      <th width="">Slno</th>
        <th id="aa">Date</th>
        <th id="aa">Department</th>
      <th width="">Need</th>
      <th width="">Details</th>
      <th width="">Amount</th>

      <th width="">Status</th>
        <th></th>
{#      <th width="134">&nbsp;</th>#}
    </tr>
       {% for i in val %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.department.d_name }}</td>
      <td>&nbsp;{{ i.needs }}</td>
      <td>&nbsp;{{ i.details }}</td>
      <td>&nbsp;{{ i.amount }}0</td>

      <td>&nbsp;{{ i.status }}</td>
      <td>{% if i.status == 'pending' %}<a href="accept_need/{{ i.id }}" class="btn btn-outline-danger">verify</a>{% else %}<a class="btn btn-outline-success">{{ i.status }}</a>
      {% endif %}</td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>

{% endblock %}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>

{#</html>#}
