{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'admin1/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="275" border="1" class="table table-striped">
    <tr>
         <tr>
      <td class="bg-dark text-white" colspan="10" style="font-size: 20px" align="center"><b>VIEW DETAILS</b></td>
  </tr>
{#      <td colspan="6">Date#}
{#      <input type="date" name="textfield" />#}
{#      <input type="submit" name="Submit" value="Search" /></td>#}
    </tr>
    <tr>



      <td width="25">Day</td>
      <td width="67">Day Time </td>
      <td width="37">Type</td>
    </tr>
       {% for i in val %}
    <tr>

      <td>&nbsp;{{ i.foodchart.day }}</td>
      <td>{{ i.daytime }}</td>
      <td>{{ i.daytype }}</td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}

{#</html>#}
